{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block body_block %}

<br></br>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">                
                    <form accept-charset="UTF-8" action="#" role="form" method="POST">
                        {% csrf_token %}
                        <div class="fieldWrapper">
                            <h2>{{ title }}</h2>
                        </div>
                        {{ message }} 
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ form.as_p }}
                            </div>
                        <button class="btn btn-info" type="submit" value="Submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}